.easy {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    @include big-title;
    color: $blue;
    margin-bottom: 24px;
  }
  &__text {
    @include text;
    color: $light-blue;
    max-width: 445px;
  }
}

@include break-down(1170px) {
  .easy {
    &__container {
      max-width: 990px;
    }
    &__title {
      font-size: 36px;
      line-height: 48px;
    }
    &__img {
      margin-right: 20px;
    }
  }
}

@include break-down(1020px) {
  .easy {
    &__container {
      max-width: 920px;
    }
  }
}

@include break-down(950px) {
  .easy {
    &__container {
      max-width: 850px;
    }
  }
}

@include break-down(880px) {
  .easy {
    &__container {
      max-width: 760px;
    }
    &__title {
      margin-top: 0;
      font-size: 30px;
      margin-bottom: 16px;
    }
    &__text {
      margin: 0;
      font-size: 15px;
    }
    &__img {
      margin-right: 20px;
    }
  }
}

@include break-down(768px) {
  .easy {
    margin-bottom: 100px;
    &__container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    &__img {
      margin-bottom: 48px;
    }
    &__text {
      max-width: 573px;
    }
  }
}

@include break-down(375px) {
  .easy {
    padding: 0;
    margin-bottom: 80px;
    &__content {
      max-width: 328px;
    }
    &__title {
      margin: 0;
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 24px;
    }
    &__text {
      margin: 0;
    }
    &__img {
      width: 328px;
      height: 209px;
      margin-bottom: 48px;
    }
  }
}
