.header {
  margin-top: 40px;
  padding-bottom: 74px;
  position: absolute;
  width: 100%;
  z-index: 4;
  &__container {
    padding: 0;
    display: flex;
    align-items: center;
  }
  &__link {
    @include demo-btn;
  }
  &__link:hover {
    background-color: $light-pink;
  }
  &__burger {
    display: none;
  }
  &__logo {
    margin-right: 64px;
  }
}

.nav {
  margin-right: auto;
  &__list {
    display: flex;
    padding: 0;
  }

  &__item {
    transition: color 400ms ease;
    margin-right: 40px;
  }
  &__item:hover {
    color: $black;
  }
  &__link {
    @include text;
  }
}

@include break-down(768px) {
  .header {
    &__container {
      max-width: 689px;
    }

    &__link {
      font-size: 14px;
    }
  }
  .nav {
    margin-right: 45px;
  }
}

@include break-down(710px) {
  .nav {
    margin-right: auto;
    &__list {
      margin: 0;
    }
    &__item {
      margin-right: 20px;
    }
  }
}

@include break-down(650px) {
  .header {
    &__container {
      max-width: 590px;
    }
    &__logo {
      margin-right: 20px;
    }
    &__link {
      padding: 15px;
    }
  }
  .nav {
    margin-right: auto;
    &__item {
      margin-right: 15px;
    }
  }
}

@include break-down(500px) {
  .header {
    &__container {
      max-width: 460px;
      padding: 0;
    }
    &__logo {
      margin-right: 20px;
    }
    &__logo-img {
      width: 110px;
    }
    &__link {
      padding: 12px;
      font-size: 13px;
    }
  }
  .nav {
    margin-right: auto;
    &__item:last-child {
      margin-right: 0;
    }
    &__link {
      font-size: 15px;
    }
  }
}

@include break-down(480px) {
  .header {
    &__container {
      max-width: 440px;
      justify-content: space-between;
    }
    &__logo {
      z-index: 1;
      margin: 0;
    }

    &__burger {
      display: block;
      position: relative;
      width: 28px;
      height: 17px;
      z-index: 3;
    }
    &__burger span {
      background-color: $blue;
      position: absolute;
      left: 0;
      width: 28px;
      height: 3px;
      top: 7px;
      transition: all 400ms ease;
    }
    &__burger::before,
    &__burger::after {
      content: '';
      background-color: $blue;
      position: absolute;
      width: 28px;
      height: 3px;
      left: 0;
      transition: all 400ms ease;
    }
    &__burger::before {
      top: 0;
    }
    &__burger::after {
      bottom: 0;
    }
    &__burger.active::before {
      transform: rotate(45deg);
      background-color: $white;
      top: 7px;
    }
    &__burger.active::after {
      transform: rotate(-45deg);
      background-color: $white;
      bottom: 7px;
    }
    &__burger.active span {
      transform: scale(0);
    }
    &__link {
      margin: 0;
      padding: 16px 36px 14px 38px;
      width: 252px;
      display: none;
    }
    &__link.active {
      display: block;
    }
  }
  .nav {
    margin: 0;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100vh;
    background-color: $black;
    z-index: 2;
    transition: all 400ms ease;
    &__list {
      margin: 0;
      margin-top: 139px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 43px;
      text-align: center;
      position: relative;
    }

    &__list::before {
      content: '';
      width: 249px;
      position: absolute;
      height: 1px;
      background-color: $white;
      opacity: 0.15;
      top: 0;
      left: 17px;
    }
    &__item {
      margin: 0;
      margin-bottom: 32px;
    }
    &__link {
      text-align: center;
      font-size: 20px;
      line-height: 23px;
    }
    &.active {
      right: 0;
    }
  }
}

@include break-down(440px) {
  .header__container {
    max-width: 380px;
  }
}

@include break-down(390px) {
  .header__container {
    max-width: 340px;
  }
}
