.intro {
  padding-bottom: 75px;
  background-image: url(../images/header-bg.png);
  background-repeat: no-repeat;
  background-position: right calc(50% - 608px) bottom 186px;
  position: relative;
  z-index: 1;
  padding-top: 162px;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    @include large-title;
    max-width: 546px;
    color: $blue;
  }
  &__form {
    margin-bottom: 16px;
  }
  &__input {
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    width: 272px;
    height: 48px;
    border-radius: 24px;
    padding: 16px 0 14px 27px;
    color: $blue;
  }

  &__input::placeholder {
    font-size: 15px;
    line-height: 17px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    color: $blue;
    opacity: 0.5;
  }
  &__input:hover::placeholder {
    color: $blue;
  }
  &__btn {
    margin-left: -38px;
    @include demo-btn;
    border: none;
    cursor: pointer;
  }
  &__btn:hover {
    background-color: $light-pink;
  }
  &__subtext-link {
    color: $blue;
    transition: color 400ms ease;
    font-weight: 700;
  }

  &__subtext-link:hover {
    color: $black;
  }
}

@include break-down(1400px) {
  .intro {
    &__container {
      max-width: 1200px;
    }
  }
}

@include break-down(1210px) {
  .intro {
    &__container {
      max-width: 1000px;
    }
  }
}

@include break-down(1000px) {
  .intro {
    &__container {
      max-width: 840px;
    }
  }
}

@include break-down(840px) {
  .intro {
    &__container {
      max-width: 750px;
    }
    &__title {
      font-size: 64px;
      line-height: 68px;
    }
  }
}
@include break-down(768px) {
  .intro {
    background-position: top -1124px right -411px;
    &__container {
      flex-direction: column-reverse;
      text-align: center;
    }
    &__img {
      margin-bottom: 48px;
    }
    &__title {
      @include big-title;
      width: 573px;
    }
  }
}

@include break-down(535px) {
  .intro {
    &__container {
      text-align: center;
    }
    &__title {
      line-height: 44px;
      margin: 0;
      margin-bottom: 24px;
    }
    &__input {
      width: 330px;
    }
  }
}

@include break-down(425px) {
  .intro {
    background-position: top -1145px right -575px;
    &__container {
      max-width: 370px;
    }
    &__title {
      font-size: 32px;
      line-height: 36px;
      max-width: 350px;
      margin: 0 auto;
      margin-bottom: 24px;
    }
    &__input {
      margin-bottom: 16px;
    }
    &__btn {
      width: 330px;
      margin: 0 auto;
    }
    &__subtext {
      margin: 0;
    }
  }
}

@include break-down(375px) {
  .intro {
    background-position: top -1170px center;
    margin: 0;
    margin-bottom: 80px;
    &__container {
      max-width: 328px;
      text-align: center;
    }
    &__content {
      align-items: center;
      justify-content: center;
    }
    &__title {
      width: 327px;
      font-size: 32px;
      line-height: 36px;
    }
    &__form {
      margin: 0;
    }
    &__input {
      width: 327px;
      margin: 0;
      margin-bottom: 16px;
    }
    &__btn {
      margin: 0;
      width: 327px;
      margin-bottom: 24px;
    }
    &__subtext {
      margin: 0;
    }
    &__img {
      margin-bottom: 26px;
    }
  }
}

@include break-down(320px) {
  .intro {
    &__container {
      max-width: 300px;
    }
    &__title {
      font-size: 24px;
      line-height: 28px;
    }
    &__input {
      margin: 0 auto;
      width: 280px;
      margin-bottom: 16px;
    }
    &__btn {
      width: 280px;
      margin-bottom: 16px;
    }
    &__img {
      margin-bottom: 30px;
    }
  }
}
