.ready {
  margin-bottom: 96px;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    @include big-title;
    color: $blue;
  }

  &__input {
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    width: 272px;
    height: 48px;
    border-radius: 24px;
    padding: 16px 0 14px 27px;
    color: $blue;
  }

  &__input::placeholder {
    font-size: 15px;
    line-height: 17px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    color: $blue;
    opacity: 0.5;
  }
  &__input:hover::placeholder {
    color: $blue;
  }
  &__btn {
    margin-left: -38px;
    @include demo-btn;
    border: none;
    cursor: pointer;
  }
  &__btn:hover {
    background-color: $light-pink;
  }
}

@include break-down(1024px) {
  .ready {
    &__container {
      max-width: 920px;
    }
  }
}

@include break-down(886px) {
  .ready {
    &__container {
      max-width: 768px;
    }
    &__title {
      font-size: 36px;
    }
  }
}

@include break-down(768px) {
  .ready {
    margin-bottom: 100px;
    &__container {
      flex-direction: column;
    }
    &__title {
      margin-bottom: 40px;
    }
  }
}

@include break-down(415px) {
  .ready {
    &__input {
      width: 234px;
    }
  }
}

@include break-down(375px) {
  .ready {
    &__container {
      max-width: 328px;
      align-items: center;
      justify-content: center;
    }
    &__title {
      margin-top: 0;
      font-size: 32px;
      line-height: 36px;
      text-align: center;
    }
    &__input {
      width: 327px;
      height: 48px;
      margin-bottom: 16px;
      padding: 16px 0 14px 29px;
    }
    &__btn {
      width: 327px;
      margin: 0 auto;
      padding: 16px 46px 14px 50px;
    }
  }
}

@include break-down(336px) {
  .ready {
    &__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__input {
      width: 290px;
    }
    &__btn {
      width: 290px;
    }
  }
}
